<div class="vb__sidebar vb__customScroll">
  <div class="vb__sidebar__inner">
    <a href="javascript: void(0);" class="vb__sidebar__close vb__sidebar__actionToggle fe fe-x-circle"></a>
    <h5>
      <strong>Theme Settings</strong>
    </h5>
    <div class="vb__utils__line" style="margin-top: 25px; margin-bottom: 30px"></div>
    <div class="vb__sidebar__type">
      <div class="vb__sidebar__type__title">
        <span>Application Name</span>
      </div>
      <div class="vb__sidebar__type__items">
        <input id="appName" class="form-control" value="Visual Builder" />
      </div>
    </div>
    <div class="vb__sidebar__item hideIfMenuTop">
      <div class="vb__sidebar__label">
        Left Menu: Collapsed
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__menuLeft--toggled" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item hideIfMenuTop">
      <div class="vb__sidebar__label">
        Left Menu: Unfixed
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__menuLeft--unfixed" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item hideIfMenuTop">
      <div class="vb__sidebar__label">
        Left Menu: Shadow
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__menuLeft--shadow" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        Menu: Color
      </div>
      <div class="vb__sidebar__container">
        <div class="vb__sidebar__select" to="body">
          <div class="vb__sidebar__select__item vb__sidebar__select__item--white vb__sidebar__select__item--active">
          </div>
          <div class="vb__sidebar__select__item vb__sidebar__select__item--gray"
            setting="vb__menuLeft--gray vb__menuTop--gray"></div>
          <div class="vb__sidebar__select__item vb__sidebar__select__item--black"
            setting="vb__menuLeft--dark vb__menuTop--dark"></div>
        </div>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        Auth: Background
      </div>
      <div class="vb__sidebar__container">
        <div class="vb__sidebar__select" to="body">
          <div class="vb__sidebar__select__item vb__sidebar__select__item--white vb__sidebar__select__item--active">
          </div>
          <div class="vb__sidebar__select__item vb__sidebar__select__item--gray" setting="vb__auth--gray"></div>
          <div class="vb__sidebar__select__item vb__sidebar__select__item--img" setting="vb__auth--img"></div>
        </div>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        Topbar: Fixed
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__topbar--fixed" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        Topbar: Gray Background
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__topbar--gray" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        App: Content Max-Width
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__layout--contentMaxWidth" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        App: Max-Width
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__layout--appMaxWidth" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        App: Gray background
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__layout--grayBackground" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        Cards: Squared Borders
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__layout--squaredBorders" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        Cards: Shadow
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__layout--cardsShadow" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="vb__sidebar__item">
      <div class="vb__sidebar__label">
        Cards: Borderless
      </div>
      <div class="vb__sidebar__container">
        <label class="vb__sidebar__switch">
          <input type="checkbox" to="body" setting="vb__layout--borderless" />
          <span class="vb__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
  </div>
</div>
<a href="javascript: void(0);" style="bottom: calc(50% + 120px)"
  class="vb__sidebar__toggleButton vb__sidebar__actionToggle" data-toggle="tooltip" data-placement="left"
  title="Settings">
  <i class="fe fe-settings"></i>
</a>
<a href="javascript: void(0);" style="bottom: calc(50% + 60px)"
  class="vb__sidebar__toggleButton vb__sidebar__actionToggleTheme" data-toggle="tooltip" data-placement="left"
  title="Switch Dark / Light Theme">
  <i class=" fe fe-moon vb__sidebar__on"></i>
  <i class="fe fe-sun vb__sidebar__off"></i>
</a>
<a href="javascript: void(0);" style="bottom: calc(50%)" class="vb__sidebar__toggleButton color reset"
  data-toggle="tooltip" data-placement="left" title="Set Primary Color">
  <button type="button" id="resetColor" tabindex="0">
    <i class="fe fe-x-circle"></i>
  </button>
  <input type="color" id="colorPicker" value="#4b7cf3" />
  <i class="fe fe-package"></i>
</a>
<a href="https://docs.cleanuitemplate.com" target="_blank" rel="noopener noreferrer" style="bottom: calc(50% - 60px)"
  class="vb__sidebar__toggleButton" data-toggle="tooltip" data-placement="left" title="Documentation">
  <i class=" fe fe-book-open"></i>
</a>